@import "tailwindcss";

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

@theme {
  /* Neutral */
  --color-neutral-10: #FFFFFF;
  --color-neutral-20: #FAFAFA;
  --color-neutral-30: #EDEDED;
  --color-neutral-40: #E0E0E0;
  --color-neutral-50: #C2C2C2;
  --color-neutral-60: #9E9E9E;
  --color-neutral-70: #757575;
  --color-neutral-80: #616161;
  --color-neutral-90: #404040;
  --color-neutral-100: #1D1F20;

  /* Primary */
  --color-primary-main: #01959F;
  --color-primary-surface: #F3FBFC;
  --color-primary-border: #4DB5BC;
  --color-primary-hover: #01777F;
  --color-primary-pressed: #01595F;
  --color-primary-focus: rgba(1, 149, 159, 0.2);

  /*  Secondary */
  --color-secondary-main: #FBC037;
  --color-secondary-surface: #FFFCF5;
  --color-secondary-border: #FEEABC;
  --color-secondary-hover: #F8A92F;
  --color-secondary-pressed: #FA9810;
  --color-secondary-focus: rgba(251, 192, 55, 0.2);

  /* Danger */
  --color-danger-main: #E01428;
  --color-danger-surface: #FFF9FA;
  --color-danger-border: #F5B1B7;
  --color-danger-hover: #BC1121;
  --color-danger-pressed: #700A14;
  --color-danger-focus: rgba(224, 20, 40, 0.2);

  /* Warning */
  --color-warning-main: #CA7336;
  --color-warning-surface: #FCF7F3;
  --color-warning-border: #FEB17B;
  --color-warning-hover: #B1652F;
  --color-warning-pressed: #985628;
  --color-warning-focus: rgba(202, 115, 54, 0.2);

  /* Success */
  --color-success-main: #43936C;
  --color-success-surface: #F7F7F7;
  --color-success-border: #B8DBCA;
  --color-success-hover: #367A59;
  --color-success-pressed: #20573D;
  --color-success-focus: rgba(#B8DBCA, 0.2);

  /* Shadow */
  /* Shadown Button */
  --shadow-button: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);

  /* Shadow Modal */
  --shadow-modal: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);

  /* Shadow Input */
  --shadow-input: 1px 2px 2px 0px rgba(0, 0, 0, 0.12);

  /* Font Size */
  --font-size-text-xs: 10px;
  --font-size-text-s: 12px;
  --font-size-text-m: 14px;
  --font-size-text-l: 16px;
  --font-size-text-xxl: 18px;
  --font-size-heading-s: 20px;
  --font-size-heading-m: 24px;
  --font-size-heading-l: 32px;
  --font-size-display: 48px;
}